<div class="relative overflow-hidden rounded-lg border border-white/10 bg-white/[0.02]">
  <img [src]="images()[activeIndex()]" [alt]="alt()" class="aspect-square w-full object-cover" />

  @if (images().length > 1) {
    <button
      type="button"
      (click)="previous()"
      aria-label="Previous image"
      class="absolute left-4 top-1/2 flex h-10 w-10 -translate-y-1/2 items-center justify-center rounded-full bg-black/60 text-white transition-colors hover:bg-black/80"
    >
      <app-icon name="arrow-right" iconClass="h-5 w-5 rotate-180" />
    </button>
    <button
      type="button"
      (click)="next()"
      aria-label="Next image"
      class="absolute right-4 top-1/2 flex h-10 w-10 -translate-y-1/2 items-center justify-center rounded-full bg-black/60 text-white transition-colors hover:bg-black/80"
    >
      <app-icon name="arrow-right" iconClass="h-5 w-5" />
    </button>

    <div class="absolute bottom-4 left-1/2 flex -translate-x-1/2 gap-2">
      @for (image of images(); track $index) {
        <button
          type="button"
          [attr.aria-label]="'Go to image ' + ($index + 1)"
          (click)="goTo($index)"
          class="h-2 w-2 rounded-full transition-colors"
          [class.bg-white]="$index === activeIndex()"
          [class.bg-white/30]="$index !== activeIndex()"
        ></button>
      }
    </div>
  }
</div>
